body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
  }
  
  .Container {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-bottom: 50px;
  }

  .row_back {
    background: none;
    border: 1px solid #333; 
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
    margin-right: 5px;
  }

  .row_back a{
    color: black;
    text-decoration: none;
  }

  


.busca{
  display: flex;
  gap: 60px;
  margin-left: 50px;
}

.busca label{
  font-size: 14px;
  margin-bottom: 5px;
}

.busca input, select {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.busca button{
  background-color: #004b63;
  color: white;
  padding: 0px 60px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.busca button:hover{
    background-color: #003549;
}

.container-projetos{
   display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-items: center;
  margin-bottom: 80px;
  margin-top: 80px;
}


.projeto {
    width: 350px;
    height: 450px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .projeto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
  }

  .projeto img{
    width: 350px;
    border-radius: 10px;
  }
  
  .valores{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
