
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
  }
  
  .Container {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-bottom: 50px;
  }

  .row_back {
    background: none;
    border: 1px solid #333; 
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
    margin-right: 5px;
  }

  .row_back a{
    color: black;
    text-decoration: none;
  }

  
.header{
  display: flex;
  justify-content: space-between;
}

.buttons-projetos{
  display: flex;
  gap: 20px;
}

.desativar{
  background-color: #f9f9f9;
  font-size: 24px;
  border: none;
  color: #095169;
}

.editar{
  background-color: #f9f9f9;
  font-size: 24px;
  border: 0.5px solid #095169;
  color: #095169;
  border-radius: 2px;
}

  .recompensa {
    width: 300px;
    height: 150px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .valores{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.topo {
    margin-top: 50px;
    display: flex;
    align-items: center; 
    padding: 20px; 
    background-color: #f9f9f9;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;

}


.lado-esquerdo {
    flex: 1; 
    text-align: center; 
}

.imagem-projeto {
    width: 800px;
    height: 450px; 
    border-radius: 10px; 
}


.lado-direito {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding-left: 20px; 
    width: 100%;
}

.lado-direito h2 {
    margin: 0; 
    font-size: 24px; 
    color: #333;
}

#titulo_projeto{
    font-size: 50px;
}

.lado-direito p {
    margin: 0; 
    color: #555;
    font-size: 16px; 
}

.recompensa-container {
    margin-top: 20px; 
    padding: 20px; 
    min-height: 150px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center; 
    width: 100%;
}


.sobre-container {
  padding: 2rem;
  color: #333;
}

.sobre-texto {
  margin: 0 auto 2rem;
}

.sobre-texto h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sobre-texto p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.sobre-midia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.video iframe {
  width: 600px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagens {
  display: flex;
  justify-content: center; 
  gap: 1rem; 
  flex-wrap: wrap; 
}

.imagens img {
  width: 600px; 
  height: 400px; 
  object-fit: cover; 
  border-radius: 0.5rem;
}



