
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
  }
  
  .Container {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-bottom: 50px;
  }

  .row_back {
    background: none;
    border: 1px solid #333; 
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
    margin-right: 5px;
  }

  .row_back a{
    text-decoration: none;
  }


.topo {
    margin-top: 50px;
    display: flex;
    align-items: center; 
    padding: 20px; 
    background-color: #f9f9f9;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

}


.lado-esquerdo {
    flex: 1; 
    text-align: center; 
}

.imagem-projeto {
    width: 700px;
    height: 450px; 
    border-radius: 10px; 
}


.lado-direito {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding-left: 20px; 
    width: 100%;
}

.lado-direito h2 {
    margin: 0; 
    font-size: 24px; 
    color: #333;
}

#titulo_projeto{
    font-size: 50px;
}

.lado-direito p {
    margin: 0; 
    color: #555;
    font-size: 16px; 
}

.recompensa {
    margin-top: 20px; 
    padding: 20px; 
    min-height: 150px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center; 
    width: 100%;
}


.sobre-container {
  padding: 2rem;
  color: #333;
}

.sobre-texto {
  margin: 0 auto 2rem;
}

.sobre-texto h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sobre-texto p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.sobre-midia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.video iframe {
  width: 600px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagens {
  display: flex;
  justify-content: center; 
  gap: 1rem; 
  flex-wrap: wrap; 
}

.imagens img {
  width: 600px; 
  height: 400px; 
  object-fit: cover; 
  border-radius: 0.5rem;
}




  .footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #fff;
    background-color: #0C0636;
    padding: 5px;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer a:hover {
    text-decoration: underline;
  }
  .LadoEsquerdo #img_footer{
    margin-left: 100px;
    width: 40%;
    justify-content: left;
  }
  #link{
    display: inline-block;
    text-align: right;
    padding: 5px;
    margin-top: 15px;
  }